Hot4/Hot4.Core/obj
Hot4/Hot4.Core/bin
Hot4/Hot4.Server/bin
Hot4/Hot4.Server/obj
Hot4/Hot4.DataModel/bin
Hot4/Hot4.DataModel/obj
Hot4/Hot4.Repository/bin
Hot4/Hot4.Repository/obj
Hot4/Hot4.Service/bin
Hot4/Hot4.Service/obj
Hot4/Hot4.ViewModel/obj
Hot4/Hot4.ViewModel/bin
Hot4/.vs
/Hot4/Hot4.Core/obj
/Hot4/Hot4.Core/bin
/Hot4/Hot4.Server/bin
/Hot4/Hot4.Server/obj
/Hot4/Hot4.DataModel/bin
/Hot4/Hot4.DataModel/obj
/Hot4/Hot4.Repository/bin
/Hot4/Hot4.Repository/obj
/Hot4/Hot4.Service/bin
/Hot4/Hot4.Service/obj
/Hot4/Hot4.ViewModel/obj
/Hot4/Hot4.ViewModel/bin
/Hot4/.vs
Hot4/Hot4.Repository/obj/Debug/net8.0/Hot4.Repository.csproj.CoreCompileInputs.cache
Hot4/Hot4.Repository/obj/Debug/net8.0/Hot4.Repository.csproj.AssemblyReference.cache
Hot4/.vs/Hot4/config/applicationhost.config
Hot4/.vs/Hot4/v17/DocumentLayout.backup.json
Hot4/Hot4.DataModel/obj/Debug/net8.0/Hot4.DataModel.dll
/Hot4/Hot4.Repository/obj/Debug/net8.0/Hot4.Repository.csproj.CoreCompileInputs.cache
/Hot4/Hot4.Repository/obj/Debug/net8.0/Hot4.Repository.csproj.AssemblyReference.cache
/Hot4/.vs/Hot4/config/applicationhost.config
/Hot4/.vs/Hot4/v17/DocumentLayout.backup.json
/Hot4/Hot4.DataModel/obj/Debug/net8.0/Hot4.DataModel.dll
