<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections />
  <appSettings>
    <add key="referencePrefix" value="B" />
    <add key="brandIds" value="1,2,3,4,5,6,7,8,10,11,12,16,19,20,21,22,23,24,25,26,27,33,34,35" />
    <add key="Econet_Endpoint" value="http://127.0.0.1:8017/econet.asmx" />
    <!--<add key="Econet_Endpoint" value="http://192.168.104.174:9081/EconetVasWeb/econetvas" />-->
    <!--<add key="EconetBundle_Endpoint" value="http://127.0.0.1:8017/econetbundle.asmx" />-->
    <add key="EconetBundle_Endpoint" value="http://127.0.0.1:8017/EconetBundle.asmx" />
    <add key="NetOneBundle_Endpoint" value="http://127.0.0.1:8017/netone.asmx" />
    <add key="NetOne_Endpoint" value="http://127.0.0.1:8017/netone.asmx" />
    <add key="TeleCel_Endpoint" value="http://127.0.0.1:8017/telecel.asmx" />
    <add key="Africom_Endpoint" value="http://africom.ai.co.zw/service.asmx" />
    <add key="ZESA_EndPoint" value="http://localhost:63582/zesa.asmx" />
    <add key="TelOne_Endpoint" value="http://127.0.0.1:8017/telone.asmx" />
    <add key="Nyaradzo_EndPoint" value="http://127.0.0.1:8017/nyaradzo.asmx" />
    <add key="testMode" value="False" />
    <add key="ConnectionString" value="Data Source=HOT5-SVR;Initial Catalog=HOT4;Persist Security Info=True;User ID=IIS_Hot_Web;Password=H0t5$t93nn6#08642;MultipleActiveResultSets=true" />
    <add key="TestConnectionString" value="Data Source=localhost;Initial Catalog=HOT4;Persist Security Info=True;User ID=bryan.zulu;Password=8D@7Zu7u;MultipleActiveResultSets=true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="DisableEcoCash" value="false" />
    <add key="RateLimit" value="10" />
    <add key="EnableLimits" value="true" />
    <add key="MinTransfer" value="10" />
    <add key="MaxTransfer" value="5000" />
    <add key="TransferAPIKey" value="32d03a6dc16fab1d17f788f3c5364b1bd2f419274baa6ff1650177e8cc3e9f3bea97278e3a460cf6655314ac5d15870a0278958df2ef39c6e5cdd1787e463f93" />
    <add key="EconetUSDOnlyAccounts" value="114733920" />
    <add key="NetoneUSDOnlyAccounts" value="100379542" />
    <add key="EcocashAPIUrl" value="https://payonline.econet.co.zw/ecocashGateway/payment/v1/" />
    <add key="EcocashAPINotifyUrl" value="http://10.10.11.60/Banks/EcoCashNotify.aspx" />
    <add key="EconetZWLDealersEnabled" value="true" />
    <add key="NetoneZWLDealersEnabled" value="true" />
    <add key="ZESAFeeEnabled" value="false" />
    <add key="ZESAFeeAmount" value="300" />
    <!-- 
    // Main Account -->
    <add key="EcocashAPIUsername" value="hotrecharge" />
    <add key="EcocashAPIPassword" value="P@ssword#" />
    <add key="MerchantCode" value="61347" />
    <add key="MerchantPin" value="1357" />
    <add key="MerchantNumber" value="771998574" />
    <!-- // API Users Account 
    <add key="EcocashAPIUsername" value="commshop1" />
    <add key="EcocashAPIPassword" value="@pass123" />
    <add key="MerchantCode" value="020580" />
    <add key="MerchantPin" value="1685" />
    <add key="MerchantNumber" value="783347527" />
 -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, &#xA;            PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EcocashSoap" />
        <binding name="EcocashSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8017/Ecocash.asmx" binding="basicHttpBinding" bindingConfiguration="EcocashSoap" contract="Ecocash.EcocashSoap" name="EcocashSoap" />
      <endpoint address="http://127.0.0.1:8017/ecocash.asmx" binding="basicHttpBinding" bindingConfiguration="EcocashSoap1" contract="EcocashAPI.EcocashSoap" name="EcocashSoap1" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>