@page "/Account"

@inject Hot4.Repository.Abstract.IAccountRepository accountRepository;
@using Hot4.DataModel.Models;

<h3>Account</h3>
<form method="post" @formname="myform" @onsubmit="GetAccount">
    <AntiforgeryToken />
    <button type="submit">Account Test</button>
</form>
@* <EditForm Model="account" OnValidSubmit="GetAccount">
    <button type="submit">Account Test</button>
</EditForm> *@

@code {
    private async Task GetAccount()
    {
       // var res = await accountRepository.SearchAccount("0993663693", 1, 15);

        var resAccountSelect = await accountRepository.AccountSelect(10000004);
    }
}
