@page "/"

@inject Hot4.Repository.Abstract.IAccessRepository _accessRepository; 
@using Hot4.DataModel.Models;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.<br />


    <EditForm Model="access" OnValidSubmit="AddAccess" FormName="Create" Enhance>
        <div>Access Code:<InputText id="accesscode" @bind-Value="access.AccessCode"/></div>
    <div>Password : <InputText id="accessPassword" @bind-Value="access.AccessPassword" /></div>
    <div>AccountId : <InputNumber id="accountId" @bind-Value="access.AccountId" /></div>
  @*   <div>ChannelId :  <InputNumber id="channelId" @bind-Value="access.ChannelId" /></div> *@
    <button type="submit">Create</button>
    </EditForm>
   


@code {
    private Access access { get; set; } = new() { AccessCode = "8575647389", AccessPassword = "1700", AccountId = 1 };

    private async Task AddAccess()
    {
        access.ChannelId = 2;
        ////**/ ACCESS** //
        //Add
       // await  _accessRepository.AddAccess(access);
        // List
       // var res = await _accessRepository.ListAccess(1, true, true);
        //get by id
        var resbyId = await _accessRepository.GetAccess(7);
        //get by Acc and chnl
        var resbyAccChnl = await _accessRepository.ListAccountChannel(1,2);
        //get by acc code
        var resAcccode = await _accessRepository.GetByAccessCode("7896547895");
        // get admin id
        var resAdminId = await _accessRepository.GetAdminId(1);

    }
}

