<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HOT4.Console.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <HOT4.Console.My.MySettings>
            <setting name="LastUserName" serializeAs="String">
                <value />
            </setting>
        </HOT4.Console.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ServiceSoap2" />
                <binding name="ServiceSoap3">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap4" />
                <binding name="EconetBundleSoap" />
                <binding name="NetoneSoap" />
                <binding name="TelecelSoap" />
                <binding name="TeloneSoap" />
                <binding name="ZESASoap" />
                <binding name="NetoneSoap1" />
                <binding name="EconetBundleSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ssl.hot.co.zw/webservice/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="HOTwebservice.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://currencypin.com:8888/frontierws/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
                contract="Frontier.ServiceSoap" name="ServiceSoap1" />
            <endpoint address="http://hot5:8008/service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap2" contract="HotWebService.ServiceSoap"
                name="ServiceSoap2" />
            <endpoint address="https://africom.ai.co.zw/service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap3" contract="Africom.ServiceSoap"
                name="ServiceSoap3" />
            <endpoint address="http://hot5:8017/Econetbundle.asmx" binding="basicHttpBinding"
                bindingConfiguration="EconetBundleSoap" contract="EconetBundles.EconetBundleSoap"
                name="EconetBundleSoap" />
            <endpoint address="http://hot5:8017/Netone.asmx" binding="basicHttpBinding"
                bindingConfiguration="NetoneSoap" contract="NetoneDongle.NetoneSoap"
                name="NetoneSoap" />
            <endpoint address="http://hot5:8017/Telecel.asmx" binding="basicHttpBinding"
                bindingConfiguration="TelecelSoap" contract="TelecelEJuice.TelecelSoap"
                name="TelecelSoap" />
            <endpoint address="http://hot5:8017/telone.asmx" binding="basicHttpBinding"
                bindingConfiguration="TeloneSoap" contract="TeloneService.TeloneSoap"
                name="TeloneSoap" />
            <endpoint address="http://hot5:8017/Zesa.asmx" binding="basicHttpBinding"
                bindingConfiguration="ZESASoap" contract="ZesaService.ZESASoap"
                name="ZESASoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
