################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TelOneIntegration/.vs/TelOneIntegration/v16
/TelOneIntegration/BillPayments.TelOne.Application/bin
/TelOneIntegration/BillPayments.TelOne.Application/obj
/TelOneIntegration/.vs/TelOneIntegration/DesignTimeBuild
/TelOneIntegration/BillPayments.TelOne.Application/bin
/TelOneIntegration/BillPayments.TelOne.Domain/bin
/TelOneIntegration/BillPayments.TelOne.Infrastructure/bin
/TelOneIntegration/BillPayments.TelOne.Infrastructure/bin/netcoreapp3.1 
/TelOneIntegration/BillPayments.TelOne.Infrastructure/obj
/TelOneIntegration/BillPayments.TelOne.WebAPI/bin/Debug/net5.0
/TelOneIntegration/BillPayments.TelOne.WebAPI/obj 
/TelOneIntegration/Telone.Tests/obj
/TelOneIntegration/Telone.Tests/bin
/TelOneIntegration/.vs/TelOneIntegration/FileContentIndex
/TelOneIntegration/BillPayments.TelOne.Domain/obj/Debug/netcoreapp3.1/TelOne.Domain.assets.cache
/TelOneIntegration/Telone.Tests/obj/Debug/netcoreapp3.1/Telone.Tests.assets.cache
/TelOneIntegration/TelOne.WebAPI/obj/Debug/netcoreapp3.1/TelOne.WebAPI.assets.cache
/TelOneIntegration/TelOne.WebAPI/obj/Debug/netcoreapp3.1/TelOne.WebAPI.csproj.AssemblyReference.cache
/TelOneIntegration/.vs
/TelOneIntegration/BillPayments.TelOne.Domain/obj/Debug/netcoreapp3.1
/TelOneIntegration/TelOne.WebAPI/bin/Debug/netcoreapp3.1
/TelOneIntegration/TelOne.WebAPI/obj/Debug/netcoreapp3.1
/TelOneIntegration/.vs/TelOneIntegration/v17/.suo
/TelOneIntegration/BillPayments.TelOne.Domain/obj/Debug/netcoreapp3.1/TelOne.Domain.GeneratedMSBuildEditorConfig.editorconfig
/TelOneIntegration/Telone.Tests/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
/TelOneIntegration/TelOne.WebAPI/obj/Debug/netcoreapp3.1/TelOne.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
