<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TelecelDisabled" value="false"/>
    <add key="DisableEcoCash" value="false" />
    <add key="maximumThreads" value="140" />
    <add key="LimitWaitPeriod" value="50" />
    <add key="refreshTimer" value="500" />
    <add key="MaxResetPinAmount" value="200" />
    <add key="SQLConn" value="Data Source=HOT5-SVR;Initial Catalog=HOT4;Persist Security Info=True;User ID=Hotadmin;Password=GfFybB4l6;MultipleActiveResultSets=True" />
    <add key="EcocashAPIUrl" value="https://payonline.econet.co.zw/ecocashGateway/payment/v1/" />
    <add key="EcocashAPINotifyUrl" value="http://10.10.11.60/Banks/EcoCashNotify.aspx" />
    <add key="EconetLimitsEnabled" value="false" />
    <!-- 
    // Main Account -->
    <add key="EcocashAPIUsername" value="hotrecharge" />
    <add key="EcocashAPIPassword" value="P@ssword#" />  
    <add key="MerchantCode" value="61347" />
    <add key="MerchantPin" value="1357" />
    <add key="MerchantNumber" value="771998574" />
    
    <add key="EcocashAPIUsernameUSD" value="commshop2" />
    <add key="EcocashAPIPasswordUSD" value="#pass123" />
    <add key="MerchantCodeUSD" value="026408" />
    <add key="MerchantPinUSD" value="1685" />
    <add key="MerchantNumberUSD" value="779824085" />

    <add key ="AllowZWLEcoCash" value="false"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
