<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
                <binding name="econetvasSOAPBinding" />
                <binding name="TelecelSoap" />
                <binding name="EconetBundleSoap" />
                <binding name="NetoneSoap" />
                <binding name="ZESASoap" />
                <binding name="TeloneSoap" />
                <binding name="EconetBundleSoap1" />
                <binding name="TelecelSoap1" />
                <binding name="EconetSoap" />
                <binding name="NyaradzoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://africom.ai.co.zw/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="AfricomService.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="http://192.168.104.174:9081/EconetVasWeb/econetvas"
                binding="basicHttpBinding" bindingConfiguration="econetvasSOAPBinding"
                contract="EconetPay.econetvas" name="econetvasSOAP" />
            <endpoint address="http://127.0.0.1:8017/telecel.asmx" binding="basicHttpBinding"
                bindingConfiguration="TelecelSoap" contract="TelecelJuice.TelecelSoap"
                name="TelecelSoap" />
            <endpoint address="http://127.0.0.1:8017/EconetBundle.asmx" binding="basicHttpBinding"
                bindingConfiguration="EconetBundleSoap" contract="EconetBundle.EconetBundleSoap"
                name="EconetBundleSoap" />
            <endpoint address="http://127.0.0.1:8017/netone.asmx" binding="basicHttpBinding"
                bindingConfiguration="NetoneSoap" contract="NetoneAPI.NetoneSoap"
                name="NetoneSoap" />
            <endpoint address="http://127.0.0.1:8017/ZESA.asmx" binding="basicHttpBinding"
                bindingConfiguration="ZESASoap" contract="ZesaAPI.ZESASoap"
                name="ZESASoap" />
            <endpoint address="http://127.0.0.1:8017/Telone.asmx" binding="basicHttpBinding"
                bindingConfiguration="TeloneSoap" contract="TelOneAPI.TeloneSoap"
                name="TeloneSoap" />
            <endpoint address="http://127.0.0.1:8017/econetbundle.asmx" binding="basicHttpBinding"
                bindingConfiguration="EconetBundleSoap1" contract="EconetBundle.EconetBundleSoap"
                name="EconetBundleSoap1" />
            <endpoint address="http://127.0.0.1:8017/telecel.asmx" binding="basicHttpBinding"
                bindingConfiguration="TelecelSoap1" contract="TelecelJuice.TelecelSoap"
                name="TelecelSoap1" />
            <endpoint address="http://localhost:63582/Econet.asmx" binding="basicHttpBinding"
                bindingConfiguration="EconetSoap" contract="EconetEPayAPI.EconetSoap"
                name="EconetSoap" />
            <endpoint address="http://127.0.0.1:8017/Nyaradzo.asmx" binding="basicHttpBinding"
                bindingConfiguration="NyaradzoSoap" contract="NyaradzoAPI.NyaradzoSoap"
                name="NyaradzoSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
